name: Deploy to Hosting

on:
  push:
    branches:
      - main
    paths:
      - '**/*.html'
      - '**/*.css'
      - '**/*.js'
      - 'assets/**'
jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Deploy to Hosting via FTP
        uses: SamKirkland/FTP-Deploy-Action@v4.3.6
        with:
          server: ${{ secrets.FTP_SERVER }}
          username: ${{ secrets.FTP_USER }}
          password: ${{ secrets.FTP_PASSWORD }}
          local-dir: ./ 
          server-dir: /httpdocs/test/
          exclude: | 
            .git/**
            .github/**
            .gitignore
            .gitattributes
            *.md
            AWSLogs/**
            LICENSE
            *.phpproj
            *Hanami-Style-Library/**
          
